<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,317}</string>
                <key>spriteSize</key>
                <string>{1062,1196}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1062,1196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,317}</string>
                <key>spriteSize</key>
                <string>{946,1196}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1065,1},{946,1196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>winLose.png</string>
            <key>size</key>
            <string>{2012,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:782cc094d9270e9280e07af15d978f01:d70fa80232b6e50d4edea2be4bf4c67d:8c3aca58520502a42cfef1dea1e0b0bc$</string>
            <key>textureFileName</key>
            <string>winLose.png</string>
        </dict>
    </dict>
</plist>
