<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1,1},{1080,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1080,1920}</string>
                <key>spriteSourceSize</key>
                <string>{1080,1920}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1080,1920}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>winLoseBG.png</string>
            <key>size</key>
            <string>{2164,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00ce585cb7528ff15ccd8400cec976d8:5b0abc8a53a01c140af6b4b5c8f39cc1:6292eb38f516198c2ae3348335fa3646$</string>
            <key>textureFileName</key>
            <string>winLoseBG.png</string>
        </dict>
    </dict>
</plist>
