<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,1},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack-super.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,1},{1040,938}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,941},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,1043},{1040,938}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,1881},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1982,2820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d9229edfde69495172e5bca85ddb92:5de6a80e46bd4b377a3d818c8e9ac7aa:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
