<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1-0-cold-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,1},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-0-curse-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,1},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-0-fierce-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{2085,1},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-0-funny-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,941},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-0-ridicule-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,941},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-0-white-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{2085,941},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-ashamed-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,1881},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-beat-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,1881},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-blood-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{2085,1881},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-cry-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1,2821},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-fuck-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{1043,2821},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p1-1-wronged-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-886,381}</string>
                <key>spriteSize</key>
                <string>{1040,938}</string>
                <key>spriteSourceSize</key>
                <string>{3508,2480}</string>
                <key>textureRect</key>
                <string>{{2085,2821},{1040,938}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p1.png</string>
            <key>size</key>
            <string>{3126,3760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5557614e05ec7ab551d86e144da759c:09b09378a5c70519bbde87f1fe83a89c:4e86b569201c2f18aa986be5d044f5fb$</string>
            <key>textureFileName</key>
            <string>p1.png</string>
        </dict>
    </dict>
</plist>
