<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p2-0-angry-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1,1},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-0-cold-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1,1077},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-0-disdain-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{913,1},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-0-funny-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1,2153},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-0-simple-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{913,1077},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-0-vulgar-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1825,1},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-dare-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{913,2153},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-frighten-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1825,1077},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-leave-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{2737,1},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-refute-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{1825,2153},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-sulk-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{2737,1077},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p2-1-wronged-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-174}</string>
                <key>spriteSize</key>
                <string>{910,1074}</string>
                <key>spriteSourceSize</key>
                <string>{1500,1500}</string>
                <key>textureRect</key>
                <string>{{2737,2153},{910,1074}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p2.png</string>
            <key>size</key>
            <string>{3648,3228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02902eb6b5c0d6e58f44010108e96c49:54b72e83a7cf61fa6d7d3064aa7478fa:55774fa4f6221dcc614cec21931d9829$</string>
            <key>textureFileName</key>
            <string>p2.png</string>
        </dict>
    </dict>
</plist>
