<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p2-blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,912},{908,1072}}</string>
                <key>offset</key>
                <string>{88,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,388},{908,1072}}</string>
                <key>sourceSize</key>
                <string>{1500,1500}</string>
            </dict>
            <key>p2-idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{908,1072}}</string>
                <key>offset</key>
                <string>{88,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,388},{908,1072}}</string>
                <key>sourceSize</key>
                <string>{1500,1500}</string>
            </dict>
            <key>p2-lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{908,1072}}</string>
                <key>offset</key>
                <string>{88,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,388},{908,1072}}</string>
                <key>sourceSize</key>
                <string>{1500,1500}</string>
            </dict>
            <key>p2-win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{908,1072}}</string>
                <key>offset</key>
                <string>{88,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,388},{908,1072}}</string>
                <key>sourceSize</key>
                <string>{1500,1500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p22.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7464c322d0225c556c482b3d6031a14$</string>
            <key>textureFileName</key>
            <string>p22.png</string>
        </dict>
    </dict>
</plist>
